html,
body {
  margin: 0;
  padding: 0;
}

* {
  border: 1px solid black;
}

.note__ctrl,
.note__edit {
  box-sizing: border-box;
  display: inline-block;
}

.note__ctrl {
  width: 30%;
}

.note__edit {
  width: 70%;
}
